In [0]:
file_path = "dbfs:/FileStore/routes.dat"

In [0]:
df = spark.read.option("delimiter", ",").csv(file_path)

In [0]:
columns = ["Airline", "AirlineID", "SourceAirport", "SourceAirportID", "DestinationAirport", "DestinationAirportID", "Codeshare", "Stops", "Equipment"]
df = df.toDF(*columns)

In [0]:
airline_route_counts = df.groupBy("Airline").count()

In [0]:
airline_route_counts.show(truncate=False)

+-------+-----+
|Airline|count|
+-------+-----+
|3P     |6    |
|DZ     |4    |
|LT     |12   |
|MM     |32   |
|XU     |26   |
|Z9     |8    |
|RG     |10   |
|3K     |36   |
|CI     |172  |
|PC     |242  |
|AZ     |877  |
|FI     |53   |
|JH     |24   |
|PM     |16   |
|SC     |314  |
|6Y     |2    |
|A9     |18   |
|Q7     |14   |
|UA     |2180 |
|2Z     |46   |
+-------+-----+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import col

In [0]:
top_airlines = airline_route_counts.orderBy(col("count").desc()).limit(10)

In [0]:

top_airlines.show(truncate=False)

+-------+-----+
|Airline|count|
+-------+-----+
|FR     |2484 |
|AA     |2354 |
|UA     |2180 |
|DL     |1981 |
|US     |1960 |
|CZ     |1454 |
|MU     |1263 |
|CA     |1260 |
|WN     |1146 |
|U2     |1130 |
+-------+-----+